
<div [ngClass]="{'d-flex align-items-center justify-content-center min-vh-100': isHomePage()}">
<form #userForm="ngForm" (ngSubmit)="onSubmit()" class="loginContainer" >
    <img src="assets/img/cervezario1.png" alt="Logo" class="logo"/>
    <h2>Iniciar Sesión</h2>
    <div>
        <input 
        type="text"
        class="form-control my-2" 
        placeholder="Usuario" 
        name="username" 
        [(ngModel)]="username" 
        required>
    </div>
    <div>
        <input 
        type="password"
        class="form-control my-2" 
        placeholder="Contraseña" 
        name="password"
        [(ngModel)]="password" 
        required >
    </div>
    <div>
        <a routerLink="/register">Registrarse</a>
    </div>
    <div>
        <button 
        type="submit" 
        class="btn btn-shadow btn-shadow--black">
        <span>Entrar</span>
        </button>
    </div>


</form>
</div>