.btn-shadow span {  
    display: inline-block;  
    transform-style: preserve-3d;  
    transition: 0.3s ease-out; 
    padding: 4px 12px;  
    border-radius: 2em;  
    font-size: 14px;
    line-height: 1.5;
    position: relative;  
    z-index: 2;  
    will-change: transform, filter;
} 
.loginContainer input[type="text"],
.loginContainer input[type="number"],
.loginContainer input[type="password"]{
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.10);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 5px;
    border-radius: 1rem;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    color: rgba(51, 51, 51, 0.7);
}
.loginContainer textarea:focus,
.loginContainer select:focus,
.loginContainer input:focus {
  outline: none;
  border: 2px solid #ffffff;
  box-shadow: 0 0 8px #ffffff;
}
.input-group {
  display: flex;
  align-items: center;
  gap: 10px; /* espacio entre label e input */
}
label{
  margin-left: 0.50rem;
}